@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";
@import "layout/nav";
@import "layout/header";
@import "layout/footer";
@import "layout/btn";

/*Ajout de la police Montserrat*/
@font-face
{
  font-family: 'Poppins Bold';
  src: url('fonts/Poppins-Bold.otf') format('opentype');
}

html {
    font-size: 100%;
}

body {
    max-width: 1200px;
    margin:auto;
    background: $colour-white;
    position: relative;
}

body {
    font-family: 'Poppins Bold', sans-serif;
    color: $colour-primary;
    line-height: 1.7;
}

h1 {
    font-family: 'Poppins Bold', sans-serif;
    font-size: 2rem;
}

textarea {
    font-family: 'Poppins Bold', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Poppins Bold', sans-serif;
    font-style: italic;
    font-size: 2.75rem;
}



