@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";
@import "layout/nav";
@import "layout/header";
@import "layout/footer";
@import "layout/btn";
@import "layout/menu";
@import "base/fonts";

html {
    font-size: 100%;
}

body {
    max-width: 1000px;
    margin:auto;
    background: $colour-white;
    font-family: 'Asimov', sans-serif;
    color: black;
    overflow: scroll;
    text-align: center;
}

ul
{
    list-style-type: none;
}