@import "utils/variables";
@import "utils/mixins";
@import "layout/header";
@import "layout/footer";
@import "layout/btn";
@import "layout/menu";
@import "base/fonts";

html {
    font-size: 100%;
}

body {
    max-width: 1920px;
    margin:auto;
    background: $colour-white;
    font-family: 'Asimov', sans-serif;
    color:$colour-black;
    overflow: scroll;
    text-align: center;
}