.btn {
  display:inline-block; //bloc s'adapte taille contenu
  margin:2rem auto 5rem; //Assurer marge minimum en bas par rapport au footer, centrage horizontal
  background: $colour-primary;
  height: auto;
  width: auto;
  border-radius: 15px; //Courbure du bloc prochainement
      
  p {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 1.2*$default-font-size;
    @include mobile-only {font-size: 0.75*$default-font-size;}
    color: $colour-secondary;
    margin: 0.5rem 1rem;
  }

  &__anim {
    display: flex;
    justify-content: space-evenly;

    &__bar {
      background-color:$colour-secondary;
      opacity: 0; //Valeur initiale pour tous les points
      height: 1rem;
      width: 1rem;
      border-radius: 50%; //Arrondi pour faire des points
      animation: dot 2s infinite;
      //Décallage démarrage points 2 et 3
      &:nth-child(2){
        animation-delay: 500ms;
      }
      &:nth-child(3){
        animation-delay: 1000ms;
      }
    }
  }
}

//La keyframe joue sur l'opacité et la taille des points
@keyframes dot {
	0%, 60%, 100% {
    opacity:0;
    transform:scale(0.2);
	}
  30% {
    opacity: 1;
    transform: scale(1);
      }
}