//Position fixe du footer
footer {
    width: 100%;
    position:fixed;
    bottom:0;
    left:0;
}

//Centré en largeur et même taille max que le bloc page. Même hauteur et couleur que le header
.footer {
    background: $colour-primary;
    height: 3rem;
    margin:auto;
    max-width: 1920px;

    //Mentions légales et Contact
    &__logo {
        font-size: 0.7*$default-font-size;
        @include mobile-only{font-size: 0.4*$default-font-size;}
        font-family: 'Poppins-Regular', sans-serif;
        list-style-type: none; //Enlever puces liste
        padding-top:10px;
        padding-left:40px;
        padding-right:40px;

        //Réparition flex sur la largeur
        display:flex;
        justify-content: space-between;

        //Animation "Wizz"
        animation: headshake 5s cubic-bezier(0.6, 0, 0.6, 1) 2s infinite;
        
        //Suppression de la mise en forme des liens
        a {text-decoration: none;
        color: $colour-secondary;}
    }
}

@keyframes headshake {
    2% {
        // entièrement à droite
        transform: translateX($shake-intensity);
    }
    4% {
        // entièrement à gauche
        transform: translateX($shake-intensity * -1);
    }
    6% {
        // entièrement à droite
        transform: translateX($shake-intensity);
    }
    8% {
        // entièrement à gauche
        transform: translateX($shake-intensity * -1);
    }
    10% {
        // reste en place au début un certain temps pour ne pas secouer en permanence
        transform: translateX($shake-intensity * 0);
    }
}