
.header {
    background: $colour-primary;
    height: 6rem;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;   
    &__logo {
        font-size: 3rem;
        color: $colour-secondary;
        text-align: center;
        font-family: 'Poppins_Bold', sans-serif;
    }
}
