
.header {

    //Permet l'affichage centré du titre par rapport à la hauteur du cadre
    background: $colour-primary;
    height: 4.5rem;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

    //Police titre et centrage largeur
    &__logo {
        font-size: 1.5*$default-font-size;
        color: $colour-secondary;
        text-align: center;
        font-family: 'Poppins_Bold', sans-serif;
    }
}
