.nav {
    &__link {
        & a{
        text-decoration: none;
        color: $colour-secondary;
        }
        &--active {
            color: $colour-secondary;
            &:hover{
                cursor:default;
                color: $colour-secondary;
            }
        }
        & a:hover{
            color: $colour-white;
      }
  }
}
