.nav__link a {
  text-decoration: none;
  color: #FDCB46;
}
.nav__link--active {
  color: #FDCB46;
}
.nav__link--active:hover {
  cursor: default;
  color: #FDCB46;
}
.nav__link a:hover {
  color: #eee;
}

.header {
  background: #579C87;
  height: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.header__logo {
  font-size: 3rem;
  color: #FDCB46;
  text-align: center;
  font-family: "Poppins_Bold", sans-serif;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer {
  background: #579C87;
  height: 6rem;
  margin: auto;
  max-width: 1900px;
}
.footer__logo {
  font-size: 1.5rem;
  color: #FDCB46;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Poppins-Regular", sans-serif;
  list-style-type: none;
}
@media screen and (max-width: 699px) {
  .footer__logo {
    font-size: 1rem;
  }
}

.btn {
  background: #579C87;
  height: 3rem;
  width: 40%;
  margin: auto;
  font-size: 2rem;
  font-family: "Poppins-Regular", sans-serif;
  color: #FDCB46;
  text-align: center;
  border-radius: 15px;
  margin-top: 2rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 699px) {
  .btn {
    width: 60%;
    font-size: 1.3rem;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  box-shadow: 5px 5px 10px grey;
}
.menu table {
  text-align: left;
  width: 80%;
  margin: auto;
}
.menu__1 {
  background-color: #fcdfdb;
  font-family: "Devonshire", sans-serif;
  color: #3c1218;
}
.menu__1 h3::before, .menu__1 h3::after {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu1.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
}
.menu__1 i {
  background: linear-gradient(to right, #f05862, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  margin-bottom: 0;
}
@media screen and (max-width: 699px) {
  .menu__1 i {
    font-size: 3rem;
  }
}
.menu__1 i + h2 {
  margin-top: 0;
  font-size: 4rem;
}
@media screen and (max-width: 699px) {
  .menu__1 i + h2 {
    font-size: 2rem;
  }
}
.menu__1 .bas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu__1 .bas i {
  padding-right: 10px;
  font-size: 4rem;
}
@media screen and (max-width: 699px) {
  .menu__1 .bas i {
    font-size: 2.5rem;
  }
}
.menu__1 .bas h2 {
  padding-left: 10px;
  margin-bottom: 0;
}
.menu__2 {
  background-color: #fff5fe;
  font-family: "CroissantOne", sans-serif;
  background: linear-gradient(to bottom, #d8852e, #8f5aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__2 h3:nth-of-type(1)::before {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu2-1.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
}
.menu__2 h3:nth-of-type(1)::after {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu2-1.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
  transform: scaleX(-1);
}
.menu__2 h3:nth-of-type(2)::before {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu2-2.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
}
.menu__2 h3:nth-of-type(2)::after {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu2-2.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
  transform: scaleX(-1);
}
.menu__2 h3:nth-of-type(3)::before {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu2-3.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
}
.menu__2 h3:nth-of-type(3)::after {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu2-3.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
  transform: scaleX(-1);
}
.menu__2 h2:nth-child(1) {
  background: linear-gradient(to right, #d8852e, #8f5aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__2 h2:nth-child(2) {
  background: linear-gradient(to right, #d8852e, #d8852e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__3 {
  background-color: #f9f9f9;
  font-family: "GreatVibes", sans-serif;
}
.menu__3 h3:nth-of-type(1)::before {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu3-1.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
}
.menu__3 h3:nth-of-type(1)::after {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu3-1.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
  transform: scaleX(-1);
}
.menu__3 h3:nth-of-type(2)::before {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu3-2.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
}
.menu__3 h3:nth-of-type(2)::after {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu3-2.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
  transform: scaleX(-1);
}
.menu__3 h3:nth-of-type(3)::before {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu3-3.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
}
.menu__3 h3:nth-of-type(3)::after {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu3-3.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
  transform: scaleX(-1);
}
.menu__3 h2:nth-child(1) {
  background: linear-gradient(to right, #0431df, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__3 h2:nth-child(2) {
  background: linear-gradient(to right, #0431df, #0431df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__4 {
  background-color: #fdfffd;
  font-family: "Kaushan", sans-serif;
}
.menu__4 h3::before {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu4.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
}
.menu__4 h3::after {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu4.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
  transform: scaleX(-1);
}
.menu__4 h2:nth-child(1) {
  background: linear-gradient(to right, #3d9339, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__4 h2:nth-child(2) {
  background: linear-gradient(to right, #3d9339, #3d9339);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__main {
  font-size: 2rem;
  width: 40%;
  height: 500px;
  margin: 20px;
}
@media screen and (max-width: 699px) {
  .menu__main {
    width: 90%;
    font-size: 1.5rem;
  }
}
.menu__main.menu__1 > h2:nth-child(3) {
  font-family: "worstveld", sans-serif;
  font-size: 4rem;
}
.menu__main.menu__3 > h2:nth-child(2) {
  font-family: "worstveld", sans-serif;
  font-size: 4rem;
}
.menu__main.menu__4 > h2:nth-child(2) {
  font-family: "worstveld", sans-serif;
  font-size: 4rem;
}
.menu__sec {
  font-size: 1.8rem;
  width: 85%;
  height: auto;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 10rem;
}
@media screen and (max-width: 699px) {
  .menu__sec {
    font-size: 0.7rem;
  }
}
.menu__sec h2:nth-child(1) {
  font-size: 3rem;
}
@media screen and (max-width: 699px) {
  .menu__sec h2:nth-child(1) {
    font-size: 1.5rem;
  }
}
.menu__sec.menu__1 {
  font-size: 2.2rem;
}
@media screen and (max-width: 699px) {
  .menu__sec.menu__1 {
    font-size: 1.2rem;
  }
}
.menu__sec.menu__2 {
  font-size: 1.5rem;
}
@media screen and (max-width: 699px) {
  .menu__sec.menu__2 {
    font-size: 0.5rem;
  }
}
.menu__sec h3 {
  align-items: center;
  display: flex;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.menu__sec td:nth-of-type(2n) {
  text-align: right;
}

/*Ajout de la police Poppins*/
@font-face {
  font-family: "Poppins_Bold";
  src: url(../../fonts/Poppins-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Poppins_Regular";
  src: url(../../fonts/Poppins-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Devonshire";
  src: url(../../fonts/devonshire-regular.ttf) format("truetype");
}
@font-face {
  font-family: "asimov";
  src: url(../../fonts/asimov.otf) format("opentype");
}
@font-face {
  font-family: "CroissantOne";
  src: url(../../fonts/CroissantOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "GreatVibes";
  src: url(../../fonts/GreatVibes-Regular.otf) format("opentype");
}
@font-face {
  font-family: "worstveld";
  src: url(../../fonts/worstveldslingbold.ttf) format("truetype");
}
@font-face {
  font-family: "Kaushan";
  src: url(../../fonts/KaushanScript-Regular.otf) format("opentype");
}
html {
  font-size: 100%;
}

body {
  max-width: 1900px;
  margin: auto;
  background: #eee;
  font-family: "Asimov", sans-serif;
  color: black;
  overflow: scroll;
  text-align: center;
}

main > h2 {
  font-size: 2.5rem;
}
