.header {
  background: #579C87;
  height: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.header__logo {
  font-size: 3rem;
  color: #FDCB46;
  text-align: center;
  font-family: "Poppins_Bold", sans-serif;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer {
  background: #579C87;
  height: 6rem;
  margin: auto;
  max-width: 1920px;
}
.footer__logo {
  font-size: 2rem;
  font-family: "Poppins-Regular", sans-serif;
  list-style-type: none;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  animation: headshake 1000ms cubic-bezier(0.6, 0, 0.6, 1) 200ms infinite;
}
@media screen and (max-width: 599px) {
  .footer__logo {
    font-size: 1rem;
  }
}
.footer__logo a {
  text-decoration: none;
  color: #FDCB46;
}

@keyframes headshake {
  10% {
    transform: translateX(2%);
  }
  20% {
    transform: translateX(-2%);
  }
  30% {
    transform: translateX(0%);
  }
}
.btn {
  background: #579C87;
  height: auto;
  width: 50%;
  font-size: 2.4rem;
  margin: auto;
  font-family: "Poppins-Regular", sans-serif;
  color: #FDCB46;
  text-align: center;
  border-radius: 15px;
  margin-top: 2rem;
  margin-bottom: 10rem;
  line-height: 3rem;
}
@media screen and (max-width: 599px) {
  .btn {
    width: 70%;
    font-size: 1.5rem;
  }
}

.btn span {
  animation-name: opacity;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  font-size: 5rem;
}
@media screen and (max-width: 599px) {
  .btn span {
    font-size: 3rem;
  }
}

.btn span:nth-child(1) {
  animation-delay: 100ms;
}

.btn span:nth-child(2) {
  animation-delay: 300ms;
}

.btn span:nth-child(3) {
  animation-delay: 500ms;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  box-shadow: 5px 5px 10px grey;
}
.menu table {
  width: 80%;
  margin: auto;
  text-align: left;
}
.menu table td:nth-of-type(2n) {
  text-align: right;
}
.menu h3 {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.menu__1 {
  background-color: #fcdfdb;
  font-family: "Devonshire", sans-serif;
  color: #3c1218;
}
.menu__1 h3::before,
.menu__1 h3::after {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu1.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
}
.menu__1 i {
  font-size: 4rem;
  margin-bottom: 0;
  background: linear-gradient(to right, #f05862, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 599px) {
  .menu__1 i {
    font-size: 2.5rem;
  }
}
.menu__1 i + h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.menu__1 h2:nth-child(3) {
  font-family: "worstveld", sans-serif;
  font-size: 3rem;
}
.menu__1 .bas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu__1 .bas i {
  margin-right: 20px;
}
.menu__2 {
  background-color: #fff5fe;
  font-family: "CroissantOne", sans-serif;
  background: linear-gradient(to bottom, #d8852e, #8f5aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__2 h2:nth-child(1) {
  background: linear-gradient(to right, #d8852e, #8f5aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__2 h2:nth-child(2) {
  background: linear-gradient(to right, #d8852e, #d8852e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__2 h3:nth-of-type(1)::before {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu2-1.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
}
.menu__2 h3:nth-of-type(1)::after {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu2-1.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
  transform: scaleX(-1);
}
.menu__2 h3:nth-of-type(2)::before {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu2-2.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
}
.menu__2 h3:nth-of-type(2)::after {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu2-2.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
  transform: scaleX(-1);
}
.menu__2 h3:nth-of-type(3)::before {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu2-3.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
}
.menu__2 h3:nth-of-type(3)::after {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu2-3.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
  transform: scaleX(-1);
}
.menu__3 {
  background-color: #f9f9f9;
  font-family: "GreatVibes", sans-serif;
}
.menu__3 h2:nth-child(1) {
  background: linear-gradient(to right, #0431df, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__3 h2:nth-child(2) {
  color: #0431df;
  font-family: "worstveld", sans-serif;
  font-size: 3rem;
}
.menu__3 h3:nth-of-type(1)::before {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu3-1.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
}
.menu__3 h3:nth-of-type(1)::after {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu3-1.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
  transform: scaleX(-1);
}
.menu__3 h3:nth-of-type(2)::before {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu3-2.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
}
.menu__3 h3:nth-of-type(2)::after {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu3-2.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
  transform: scaleX(-1);
}
.menu__3 h3:nth-of-type(3)::before {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu3-3.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
}
.menu__3 h3:nth-of-type(3)::after {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu3-3.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
  transform: scaleX(-1);
}
.menu__4 {
  background-color: #fdfffd;
  font-family: "Kaushan", sans-serif;
}
.menu__4 h2:nth-child(1) {
  background: linear-gradient(to right, #3d9339, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__4 h2:nth-child(2) {
  color: #3d9339;
  font-family: "worstveld", sans-serif;
  font-size: 3rem;
}
.menu__4 h3::before {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu4.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
}
.menu__4 h3::after {
  border-top: 1rem solid transparent;
  border-image: url("../../images/Menu4.png") 70 stretch;
  content: "";
  flex: 1;
  margin: 1rem;
  transform: scaleX(-1);
}
.menu__main {
  height: 500px;
  width: 35%;
  margin: 20px;
  padding: 4%;
  font-size: 1.8rem;
}
@media screen and (max-width: 599px) {
  .menu__main {
    width: 90%;
  }
}
@media screen and (max-width: 599px) {
  .menu__main {
    padding: 10%;
  }
}
@media screen and (max-width: 599px) {
  .menu__main {
    font-size: 0.9rem;
  }
}
.menu__main:hover > .zoom {
  transform: scale(1.2);
  opacity: 0.5;
}
.menu__sec {
  width: 90%;
  height: auto;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 10rem;
}
.menu__sec.menu__1 {
  font-size: 2.5rem;
}
@media screen and (max-width: 599px) {
  .menu__sec.menu__1 {
    font-size: 1.25rem;
  }
}
.menu__sec.menu__1 h2 {
  font-size: 4rem;
}
@media screen and (max-width: 599px) {
  .menu__sec.menu__1 h2 {
    font-size: 2rem;
  }
}
.menu__sec.menu__2 {
  font-size: 1.4rem;
}
@media screen and (max-width: 599px) {
  .menu__sec.menu__2 {
    font-size: 0.7rem;
  }
}
.menu__sec.menu__2 h2 {
  font-size: 2.4rem;
}
@media screen and (max-width: 599px) {
  .menu__sec.menu__2 h2 {
    font-size: 1.2rem;
  }
}
.menu__sec.menu__3 {
  font-size: 2rem;
}
@media screen and (max-width: 599px) {
  .menu__sec.menu__3 {
    font-size: 1rem;
  }
}
.menu__sec.menu__3 h2 {
  font-size: 3rem;
}
@media screen and (max-width: 599px) {
  .menu__sec.menu__3 h2 {
    font-size: 1.5rem;
  }
}
.menu__sec.menu__4 {
  font-size: 1.6rem;
}
@media screen and (max-width: 599px) {
  .menu__sec.menu__4 {
    font-size: 0.8rem;
  }
}
.menu__sec.menu__4 h2 {
  font-size: 2.6rem;
}
@media screen and (max-width: 599px) {
  .menu__sec.menu__4 h2 {
    font-size: 1.3rem;
  }
}

.zoom {
  transform: scale(1);
  transition: all 400ms;
}

.hover {
  text-decoration: none;
  cursor: default;
}
.hover::after {
  display: block;
  content: "";
  border-bottom: solid 0.4rem;
  transform: scaleX(0);
  transition: transform 400ms ease-in-out;
  transform-origin: right center;
}
.hover:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
}
.hover__1 {
  color: #3c1218;
}
.hover__1::after {
  border-bottom-color: #3c1218;
}
.hover__2-1 {
  color: #d8852e;
}
.hover__2-1::after {
  border-bottom-color: #d8852e;
}
.hover__2-2 {
  color: #B57093;
}
.hover__2-2::after {
  border-bottom-color: #B57093;
}
.hover__2-3 {
  color: #8f5aff;
}
.hover__2-3::after {
  border-bottom-color: #8f5aff;
}
.hover__3, .hover__4 {
  color: #000;
}
.hover__3::after, .hover__4::after {
  border-bottom-color: #000;
}

@font-face {
  font-family: "Poppins_Bold";
  src: url(../../fonts/Poppins-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Poppins_Regular";
  src: url(../../fonts/Poppins-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Devonshire";
  src: url(../../fonts/devonshire-regular.ttf) format("truetype");
}
@font-face {
  font-family: "asimov";
  src: url(../../fonts/asimov.otf) format("opentype");
}
@font-face {
  font-family: "CroissantOne";
  src: url(../../fonts/CroissantOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "GreatVibes";
  src: url(../../fonts/GreatVibes-Regular.otf) format("opentype");
}
@font-face {
  font-family: "worstveld";
  src: url(../../fonts/worstveldslingbold.ttf) format("truetype");
}
@font-face {
  font-family: "Kaushan";
  src: url(../../fonts/KaushanScript-Regular.otf) format("opentype");
}
html {
  font-size: 100%;
}

body {
  max-width: 1920px;
  margin: auto;
  background: #eee;
  font-family: "Asimov", sans-serif;
  color: #000;
  overflow: scroll;
  text-align: center;
}
