//Ajout des polices
@font-face
{
  font-family: 'Poppins_Bold';
  src: url(../../fonts/Poppins-Bold.otf) format('opentype');
}
@font-face
{
  font-family: 'Poppins_Regular';
  src: url(../../fonts/Poppins-Regular.otf) format('opentype');
}

@font-face
{
  font-family: 'Devonshire';
  src: url(../../fonts/devonshire-regular.ttf) format('truetype');
}

@font-face
{
  font-family: 'asimov';
  src: url(../../fonts/asimov.otf) format('opentype');
}

@font-face
{
  font-family: 'CroissantOne';
  src: url(../../fonts/CroissantOne-Regular.ttf) format('truetype');
}

@font-face
{
  font-family: 'GreatVibes';
  src: url(../../fonts/GreatVibes-Regular.otf) format('opentype');
}

@font-face
{
  font-family: 'worstveld';
  src: url(../../fonts/worstveldslingbold.ttf) format('truetype');
}

@font-face
{
  font-family: 'Kaushan';
  src: url(../../fonts/KaushanScript-Regular.otf) format('opentype');
}
